@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rampart+One&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Tilt+Warp&display=swap');

/* 
  font-family: 'Tilt Warp', cursive;

  font-family: 'Lilita One', cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Tilt+Warp&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
